<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php" convertDeprecationsToExceptions="true">
  <testsuites>
    <testsuite name="Castor">
      <file>ConfigTest.php</file>
      <file>CompilerTest.php</file>
      <file>ExpressionParsingTest.php</file>
      <file>EngineTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
